{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobileNavToggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
         <h1>{{ .Title }}</h1>
         {{ .Content }}
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item" style="">
                  <div class="box-masonry">


                      <a href="https://mauportugues.com/noticias/o-planeta-terra-tem-um-novo-continente-chamado-zel%C3%A2ndia" title="" class="box-masonry-image with-hover-overlay with-hover-icon">

                          <img src="/img/novocontinente.jpg" alt="" class="img-responsive">
                      </a>


                      <div class="box-masonry-text">

                          <h4><a href="https://mauportugues.com/noticias/o-planeta-terra-tem-um-novo-continente-chamado-zel%C3%A2ndia">O Planeta Terra Tem Um Novo Continente Chamado "Zelândia"</a></h4>
                          <div class="box-masonry-desription">
                              <p></p><p>Somos ensinados na escola primária que existem sete continentes na Terra - África, Antártica, Ásia, Austrália, Europa, América do Norte e América do Sul.
                          </p><p></p>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
                  <div class="box-masonry">


                      <a href="https://mauportugues.com/passatempos/quiz-mais-dificil-sobre-portugal/" title="" class="box-masonry-image with-hover-overlay with-hover-icon">

                          <img src="/img/portugal.png" alt="" class="img-responsive">
                      </a>


                      <div class="box-masonry-text">

                          <h4><a href="https://mauportugues.com/passatempos/quiz-mais-dificil-sobre-portugal/">O quiz mais difícil sobre factos de Portugal e Portugueses</a></h4>
                          <div class="box-masonry-desription">
                              <p></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <h5>Partilha e segue-nos no facebook, não te vais arrepender!</h5>
          {{ partial "fblike.html" . }}
         {{ partial "fbcomments.html" . }}
      </div>
    </div>
  </div>
</div>
{{ end }}
